@charset "utf-8";
/* CSS Document */

html,body
{
	overflow-x: hidden;
}

#content
{
	visibility: hidden;
}
.header
{
	padding: 15px 0 5px 0;
	background:#fff;
	box-shadow:  0 3px 11px 0 #000;
	float:left;
	width:100%;
	position: fixed;
	z-index: 999!important;
	
}

.sidenav
{
	background: #212121 !important;
	width:0;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	padding-top: 80px;
	transition: 0.5s;	
	z-index: 1;
	overflow-x: hidden;
}

.sidenav a
{
	color:#fff;
	display: block;
	text-decoration: none !important;
	padding:25px 15px 8px 25px;
	font-size: 16px;
	transition: 0.3s;	
}
.sidenav a:hover
{
	color:#ff9e00!important;
}
.close_btn
{
	position:relative;
	float:right;
    top: -45px;
    right:20px;
    font-size: 45px !important;
	color:#ff9e00;
    cursor:pointer;
    text-decoration: none !important;
	
}
.close_btn:hover
{
	color:#ff9e00!important;
}
.open_btn
{
	color:#ff9e00;
	font-size: 30px;
	font-weight: bold !important;
	cursor:pointer;
	float:left;
	margin-top:15px;
}

.logo{
	width:100px;
	height:100px;
	display:block;
	margin-top:-10px;
	margin-bottom:0;
	margin-left: auto;
	margin-right: auto;
}
.user{
	float:right;
	margin-top:-60px;
	font-size: 20px;
	color:#ff9e00;
}
.login
{
	font-family: 'Montserrat', sans-serif;
	margin-left: 5px;
	font-weight: 500;
	color:black;
}

/* modal */

.modal-header,.modal-body
{
	background-color:#128cdf;
}
.close
{
	color:#fff !important;
	opacity:.8 !important;
	font-size:25px !important;
}
.modal-title
{
	text-align: center;
	font-weight: 400;
	font-size:22px;
	color:#fff;
}

.form_style
{
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-weight: 500;
	font-size:20px;
}
.login_btn
{
	border-radius: 15px !important;
	margin: 0 auto !important;
	display: block !important;
	padding:10px 20px !important;
	width: 200px;
	background: #ff9e00 !important;
	border: none!important;
	font-size:16px !important;
}
.eye
{
	float:right;
	position: relative;
	top:34px;
	right:0;
	padding-top:9px;
	background:#ff9e00;
	height: 34px;
	width: 34px;
	text-align: center;
	color:#fff;
}
.checkbox
{
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}

.bg1
{
	width: 100%;
	float: left;
	background:url(../img/abt/bg1.jpg)  no-repeat;
	padding:200px 0 60px 0;
}


.bg1 h1
{
	color:#fff;
	text-align: center;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
}

.nav1
{
	margin-left: -25px;
	list-style: none;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.nav1 li
{
	display: inline;
	margin-left: -5px;
	color:#fff;
}

.nav1 li a
{
	color:#ff9e00;
	text-decoration: none;
	padding: 0 7px;
}


.abt::before
{
	content: '/';
	color:#fff;
	padding:0 10px 0 7px;
}

.line
{
	width:20%; 
	border-top: 3px solid #000;
}
.tab
{
	width: 100%;
	float:left;
	padding: 50px 0 70px 0;
}
.heading
{
	width:100%;
	float: left;
}
.heading h2
{
	font-family: 'Montserrat', sans-serif;
	font-size:36px;
	font-weight: 600;
	color:#ff9e00;
	text-align: center;
	margin-top:70px;

}
.nav-tabs
{
	border: none !important;
	display: flex;
	justify-content: center;
}
.nav-tabs > li a
{
	font-family: 'Montserrat', sans-serif;
	  color: #000 !important;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid transparent!important;
    transition: border .3s;
    padding: 0 8px;

}
.nav-tabs > li a:after
{
	content: '';
	width: 0;
	height: 3px;
	background-color:#ff9e00;
	transition: width .3s;
	position: absolute;
	top:36px;
	left:2px;
}
.nav-tabs > li a:hover
{
	background: transparent !important;
}
.nav-tabs > li a:hover:after
{
	width: 100%;

}
.man1
{
	background-size:cover;
	max-width: 100%;
	max-height: 100%;
}
.style
{
	border: none !important; 
}

.tab-content
{
	margin-top:50px; 
}

.line1
{
	width:20%; 
	border-top: 3px solid #000;
	margin-left: 0;
}
.who
{
	margin-top: -10px;
	color: #ff9e00;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 28px;
}

.para1
{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin-top: 10px;
}
.name
{
	margin-top: 20px;
	color: #ff9e00;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}

.info_icon
{
	font-size: 16px;
	color: #ff9e00;
}
#menu2
{
	width:100%;
	float:left;
}
.info
{
	color:#000;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-left: 8px;
}
.image-container
{
	position: relative;
	float:left;

	}
.overlay-box
{
	display: none;
	opacity:1;
transition:display 1s ease-in-out;

}

.image-container:hover .overlay-box
{
	display: block;

}

.t_info
{
	background: #fff;
	color:#000;
	position: absolute;
	top:55%;
	left:45%;
	transform: translate(-55%,-50%);
	transition: all ease-in-out 1s;
	padding: 10px 20px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	box-sizing: border-box;
}
.image-container
{
	position:relative;
	margin:5px;
}
.img
{
	transition: transform 1s ease-in-out;
}
.img:hover
{
	transform: rotateY(180deg);

}

#menu2 h3
{
	 margin-top: 10px;
    color: #ff9e00;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}
.line2
{
	width:10%; 
	border-top: 3px solid #000;
	position:relative;
	left:0px;
	top:0px;
}

.t_social
{
	margin-top:20px;

	
}
.t_social a
{
	text-decoration: none;
	padding: 0 5px;
	color: #ff9e00;
	font-size: 18px;
	transition: all .2s ease-in-out !important; 
}
.t_social a:hover

{
	color: #000;
	cursor: pointer;

}


.footer
{
	width:100%;
	float:left;
	padding: 50px 0;
	background-color:#494742;
}

.footer h3
{
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	font-weight: 500;
	color:#ff9e00;
	margin-bottom:15px !important;
}
.arrow
{
	color:#ff9e00;

}
.time_1
{
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	transform: translate(0,-1px);
	position: absolute;
	margin-left:5px;
	cursor:pointer;
	margin-top:3px;
}
.time_1:hover
{
	transform: translate(12px,-1px) !important;
	transition: all ease .3s;
	color:#ff9e00;
	cursor:pointer;
	
}

.footer a
{
	font-size:20px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none !important;
	font-weight: 600;
}
.footer a:hover
{
	color:#ff9e00;
}

.f_nav
{
	display: inline-block;
	color:#fff;
	font-size:16px;
	 list-style: none;

}
.f_nav li
{
	margin-top: 7px;
}

.f_nav li > a
{
	text-decoration: none;
	font-weight: 400; 
	
}
.f_nav li::before
{
	color:#ff9e00;
	content: "\2022";
	width: 1em !important; 
  margin-left: -2em !important; 
  padding-left:15px;
}
.news
{
	color:#fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 7px;
}

.f_mail
{
	padding:20px 10px;
	border-radius: 15px !important;
	margin-top: 30px;
	width:90% !important;
	height:45px !important;
	text-align:left;
}


.f_mail:focus
{
	font-size:14px !important;
	font-family: 'Montserrat', sans-serif;
	transition: all ease-in-out .3s !important;
	
}

.mail_i
{
	position:relative;
	top:34px;
	left:0px;
	background:#ff9e00;
	color:#fff;
	padding: 10px 10px; 
	border-radius:20%;
}

.f_submit
{
	border: 1px solid #ff9e00;
	border-radius:15px;
	background-color: #ff9e00;
	font-family: 'Montserrat', sans-serif;
	padding:12px 30px;
	font-weight: 600;
	font-size:14px;
	color: #fff;
	float: right;
	position: relative;
	top:-45px;
	right: 25px;
	transition:.3s ease-in-out;
}
.f_submit:hover
{

	background:#000;
}
.f_logo
{
	margin-top:20px;
}
.flogo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.f_social
{
	text-align: center;
	

}

.f_icon 
{
	padding:10px;
	margin:5px;
font-weight: 400 !important;
background: #6d6b65;
border-radius: 50%;
width: 45px;
height: 45px;
vertical-align: middle !important;
line-height: 25px !important;
}
.icon1:hover
{
	background: #3B5998;
	color:#fff;	
}
.icon2:hover
{
	background: #1DA1F2;
	color:#fff;
}

.icon3:hover
{
	background:  #DB4437;
	color:#fff;
}

.icon4:hover
{
	background:  #0077B5;
	color:#fff;
}

@media(max-width:768px)
{
	.ws-title span
	{
		font-size:25px !important;
	}
	
	.mynav
	{
		width: 40%;
	}
	.read
	{
		margin-top: -10px;
		
	}
	.sidenav
{
	background: #212121 !important;
	width:40%;
}
	
	.abt_img
	{
		margin-top: 15px;
	}
	.ws-title span
	{
		margin-top:-35px;
	}
	.image
	{
		margin-top: 15px;
	}

	.who
	{
		margin-top:15px;
	}
}
