@charset "utf-8";
/* CSS Document */

html,body {
    margin:0;
    padding:0;
	overflow-x: hidden;
}

.header1
{
	background:#2a2f33;
	color:#acb8c1;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight: 500;
	padding:8px 0;	
}
.t1
{
	margin:0 5px;
}

.icon
{
	float:right;
}

.icon1
{
	
	text-decoration: none !important;
	color:#acb8c1!important;
	padding:0 7px;
}

.icon1:hover
{
	color:#36a5ed !important;
	transition: all ease-in-out;
}
.header2
{
	background:#FFFFFF;
	padding:10px 0;
}

.logo
{
	margin-left:76px; 
	margin-top:10px;
}
.mynav

{
	background:none!important; 
	border: none !important;
	margin:10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight: 600;
	margin-left:20px !important;
	
}

.navigation
{
	width:100%;
	
}

.navbar-nav  li 
{
	padding:0 6px;
		
}
.navbar-nav  li a
{
	color:#2a2f33 !important;
	text-align: center;
	text-decoration:none;
	display: block;
	border-bottom: 1px solid transparent;
	
}
.navbar-nav  li a:hover

{
	color:#36a5ed !important;
	border-bottom: 1px solid #36a5ed;
	transition: all ease-in-out;
	transition-duration: .1s;
	
}


.footer
{
	width:100%;
	float:left;
	padding:40px 0;
	background:#2a2f33;
}

.footer h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:700;
}

.ftext1
{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin:20px 0 0 0;
	font-weight:400 !important;
}

.ftext2
{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin:15px 0 0 0;
	font-weight:400 !important;
}

.ftext3 a
{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin-top:10px !important;
	font-weight:400 !important;
	text-decoration: none !important;
}
.ftext3 a:hover
{
	color:#0596FF !important;
	transition-duration:.5s;
}
.ntext a

{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin:15px 0 0 0 !important;
	text-decoration:none !important;
	color:#fff !important;

}
.ntext a:hover
{
	color:#0596FF !important;
	transition-duration:.5s;	
}

.links a
{
	text-decoration: none !important;
	padding:20px 0 !important;
	color:#fff !important;
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin-top:20px !important;
}

.links a:hover
{
	color:#0596FF !important;
	transition-duration:.3s;	
}

.footer2
{
	background:#272b2f;
	width:100%;
	float:left;
	padding:30px 0;
	text-align:center;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	font-size:16px;
}
.pri
{
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:#acb8c1;
}

.data
{
	margin-top:10px;
}



.footer
{
	width:100%;
	float:left;
	padding:40px 0;
	background:#2a2f33;
}

.footer h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:700;
}

.ftext1
{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin:20px 0 0 0;
	font-weight:400 !important;
}

.ftext2
{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin:15px 0 0 0;
	font-weight:400 !important;
}

.ftext3 a
{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin-top:10px !important;
	font-weight:400 !important;
	text-decoration: none !important;
}
.ftext3 a:hover
{
	color:#0596FF !important;
	transition-duration:.5s;
}
.ntext a

{
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin:15px 0 0 0 !important;
	text-decoration:none !important;
	color:#fff !important;

}
.ntext a:hover
{
	color:#0596FF !important;
	transition-duration:.5s;	
}

.links a
{
	text-decoration: none !important;
	padding:20px 0 !important;
	color:#fff !important;
	font-family:'Ubuntu', sans-serif;
	font-size:16px;
	margin-top:20px !important;
}

.links a:hover
{
	color:#0596FF !important;
	transition-duration:.3s;	
}

.footer2
{
	background:#272b2f;
	width:100%;
	float:left;
	padding:30px 0;
	text-align:center;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	font-size:16px;
}
.pri
{
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:#acb8c1;
}

.data
{
	margin-top:10px;
}

.contact
{
	width:100%;
	float:left;
	padding:100px 0;
	
	background: url(img/contact.jpg) center center;
	background-size: cover;
}


.contact h1
{
	font-family: 'Open Sans', sans-serif;
	font-size:65px !important;
	font-weight:500;
	color:#fff;
}

.contact p
{
	font-family:'Ubuntu', sans-serif;
	font-size:20px;
	color:#fff;
	font-weight:normal;
}

.form-section

{
	width:100%;
	float:left;
	padding:30px 0;
}

.form-section h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	text-align:center;
	color:#000;
}
.form-control
{
	width:85% !important;
	margin:30px 0 10px 95px !important;
	float:left;
	background-color:rgba(246,246,246,.8);
	color:#454545;
	font-size: 18px !important;
	padding: 25px 15px !important;	
}

.buttn
{
	padding: 20px 35px !important;
	background:#0596FF !important;
	color:#fff !important;
	font-family: 'Open Sans', sans-serif;
	font-weight:700 !important;
	margin:35px 0 0 25px!important;
	font-size:16px !important;
	text-decoration: none !important;
	border:none;
}

.map
{
	width:100%;
	float: left;
}

 ::-webkit-scrollbar 
{
	width: 12px;
	overflow: hidden;
}

::-webkit-scrollbar-track {
      background-color:#36a5ed;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); }










@media only screen and (max-width:768px)
{
	.icon
	{
	float:none;
	}
	
	.logo
	{
	margin-left: 5px;
	}
	
	.mynav
	
	{
		float:right;
		width:100%;
		padding:10px 0px;
	}
	
	.navbar-nav  li a:hover
	{
		border-bottom:none !important;
	}
	
	.toggle
	{
	margin-right:15px!important;
	}
	
	.select{
		width:133px;
		font-size:13px;
		padding:15px  10px;
	}
	
	.footer h4
	{
		margin-top:34px;
	}
	

	
	.form-control
{
	width:100% !important;
	margin:20px 0 0 0 !important;
	float:left;	
}
	.buttn
	{
		margin:35px 0 0 125px!important;
	}
	
}
