@charset "utf-8";
/* CSS Document */


	.bg
{
	z-index:10;
	width:100%;
	background:#e2dad7;
	top:0px;
}	
	.logo
{
	margin:5px 0 0 10px;
	float:left;
}
.mynav
{
	
	background:none !important; 
	border-radius:0 !important;        
	padding:10px 0px;
	margin:10px 30px 0 0;
	border:none;
	float:left;
	
}
.navbar-nav  li 
{
	
	display:inline;
	padding:0 8px;
		
}
.navbar-nav  li a
{
	color:#3b1d06 !important;
	font-family:'Raleway', sans-serif;
	font-size:16px;
	font-weight:600;
	text-align: center;
	text-decoration:none;
}
.navbar-nav li a:hover
{
 	background:#5d320f!important;
	box-sizing:border-box;
	color:#fe821e !important;

}
.icon
{
	margin:27px 0 0 0;
	
}
.icon li 
{
	
	display:inline !important;
	float:left;
}
.icon li a
{
	font-size:16px;
	padding: 0 5px;
	text-decoration:none !important; 
	color:#3b1d06;
}
.icon li a:hover
{
	color:#fe821e; 
}
.head 
{
	font-family:'Spectral', serif !important;
	font-size:50px;
	color:#000;
	text-align:center;
}

.head:hover
{color:#666;}

.bg1
{
	background:url(hotcoffee.jpeg);
	background-size:cover;
	background-attachment:fixed !important;
	padding:60px 0 100px 0;
	background-position:center center;
	width:100%;
	color:#fff;
}

.bg1 h1
{
	font-size:60px;
	font-family: 'Spectral', serif;
	text-align:center;
	font-weight:700;
}
.box
{
	padding:50px 40px;
	box-sizing:border-box;
	background: #FFFFFF;
	min-width: 335px;
	min-height:265px;
	border:1px solid #B8B8B8;
}

.box h3
{
	font-family: 'Ubuntu', sans-serif;
	font-size:30px;
	text-align:center;
	font-weight:600;
}

.p1
{
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
	text-align:center;
	font-weight:400;
}


.bg2
{
	background:url(icecoffee.jpg);
	background-size:cover;
	padding:60px 0 80px 0 !important;
	background-position:center center;
	width:100%;
	color:#fff;
	background-attachment:fixed;
}
.bg2_t
{
	font-size:60px;
	font-family: 'Spectral', serif;
	text-align:center;
	font-weight:700;
}
.bg3
{
	background: url(dessert.jpeg);
	background-size:cover;
	padding:60px 0 80px 0 !important;
	background-position:center center;
	width:100%;
	color:#fff;
	background-attachment:fixed;
}
.text
{
	font-size:60px !important;
	font-family: 'Spectral', serif;
	text-align:center;
	font-weight:700;
}
.footer
	{
		background:#666;
		width:100%;
		float:left;
		padding:50px 0;;
	}
	.f_logo
	{margin-left:193px;}

	.footer p
	{
		font-family:'Raleway', sans-serif;
		font-size:18px;
		font-weight:500;
		text-align:center;
		color:#fff !important;
	}
	.icon_f
{
	margin:20px 0 0 180px;
	
}
.icon_f li 
{
	
	display:inline !important;
	float:left;
	
}
.icon_f li a
{
	font-size:24px;
	padding: 0 5px;
	text-decoration:none !important; 
	color:#fff;
}
.icon_f li a:hover
{
	color:#fe821e; 
}

@media(max-width:768px)
{
	.logo
	{
		margin-left:-26px !important;
	}
	

	.toggle
	{
		margin-left:50px;
	}
	
	.icon
{
	padding: 0 2px;
	float:right;
}
.icon li 
{
	
	display:inline !important;
	float:none;
	padding-right:3px;
}
.icon li a
{
	margin:0;
	padding:0 !important;
}
	.icon_f
{
	margin:10px 0 10px 170px !important;
}
		.f_logo
	{
		margin-left:180px;
	}
}